<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="legacyService" class="com.example.demo.service.LegacyService"/>

    <bean id="legacyController" class="com.example.demo.controller.LegacyController">
        <property name="legacyService" ref="legacyService"/>
    </bean>

    <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="urlMap">
            <map>
                <entry key="/legacy/users/{id}" value-ref="legacyController"/>
            </map>
        </property>
    </bean>
</beans>
